ol,
ul {
	list-style: none;
}
body {
	margin: 0;
	overflow: hidden; /*防止触屏的时候滑动*/
}
.icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	transition: all 0.3s;
	margin-left: 10px;
}
.icon:hover {
	/* text-shadow: 0px 0px 10px #800000; */
	transform: scale(1.1);
}
.icon-box {
	position: fixed;
	top: 15px;
	left: 15px;
}
.icon-box .active {
	fill: red;
	transform: scale(1.5);
}
ol {
	position: absolute;
	top: 10px;
	left: -34px;
}
.color {
	width: 20px;
	height: 20px;
	background-color: black;
	margin-top: 20px;
	border-radius: 50%;
	border: grey solid 1px;
	transition: all 0.3s;
}
.color#red {
	background-color: red;
}
.color#yellow {
	background-color: yellow;
}
.color:hover {
	transform: scale(1.1);
}
.color.selected {
	transform: scale(1.4);
}
ul {
	position: fixed;
	top: 10px;
	right: 20px;
}
li.penWidth {
	margin-top: 10px;
	width: 20px;
	height: 5px;
	background-color: black;
}
li#thick {
	height: 10px;
}
